<div class="card border-0 p-0 mb-5">
	<div class="card-body px-0">
		<h6 class="card-subtitle mb-2 text-muted"><small>birkle-IT | Nov 2022 - present</small></h6>
		<h5 class="card-title">Senior Software Engineer</h5>
		<p class="card-text">birkle IT is an international IT consulting and software development company mainly operating
			in DACH, Scandinavia, and the Baltics. <br>
			<br>
		</p>
		<p class="card-text"><b>Main responsibilities:</b></p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Design, implement, test and release software updates. Provide support for existing
			software.</li>
		<li class="list-group-item">Using strong problem-solving development skills with a user-centric mindset</li>
		<li class="list-group-item">Working with technologies including ExtJS, NextJS, React, Bootstrap, LESS, REST, PHP.
		</li>
		<li class="list-group-item">Working in software development projects.</li>
		<li class="list-group-item">Writing complex asynchronous multi-user software.</li>
		<li class="list-group-item">Working with database technologies including Postgres, MariaDB.</li>
		<li class="list-group-item">Using server-side application frameworks like NextJS(JavaScript), Wordpress(PHP), Core
			PHP.</li>
		<li class="list-group-item">Proficient knowledge of company’s programming languages including JavaScript and PHP.
		</li>
		<li class="list-group-item">Implement and troubleshoot programming changes and modifications.</li>
		<li class="list-group-item">Write technical documentation.</li>
		<li class="list-group-item">Work independently and multi-task efficiently.</li>
		<li class="list-group-item">Flexible and willing to accept a change in priorities as necessary..</li>
		<li class="list-group-item">Strong attention to details.</li>
		<li class="list-group-item">Interpersonal skills to work in a team.</li>
		<li class="list-group-item">Ability to convey information to non-technical colleagues in a concise and clear way.
		</li>
		<li class="list-group-item">Investigating and analyzing information and to draw conclusions.</li>
		<li class="list-group-item">Learn and support new systems and applications.</li>
		<li>---</li>
		<li></li>
	</ul>
</div>