<div class="card border-0 p-0 mb-5">
	<div class="card-body px-0">
		<h6 class="card-subtitle mb-2 text-muted"><small>Coolbet | VG Estonia OÜ | July 2022 - Oct 2022</small></h6>
		<h5 class="card-title">Senior Software Engineer</h5>
		<p class="card-text">Coolbet is a gaming site and sportsbook software, with 350+ employees, most of them working
			from head office located in the center of Tallinn, Estonia.<br>
			<br>
		</p>
		<p class="card-text"><b>Main responsibilities:</b></p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Design, implement, test and release software updates. Provide support for existing
			software.</li>
		<li class="list-group-item">Using strong problem-solving development skills with a user-centric mindset</li>
		<li class="list-group-item">Writing complex asynchronous multi-user software.</li>
		<li class="list-group-item ">Working with technologies including AngularJS, React, Bootstrap, LESS, REST.</li>
		<li class="list-group-item">Working with database technologies including RethinkDB, Postgres.</li>
		<li class="list-group-item">Using server-side application frameworks like Express(JavaScript), LoopBack
			(JavaScript), Django (Python), Flask (Python), Falcon (Python).</li>
		<li class="list-group-item">Flexible and willing to accept a change in priorities as necessary.</li>
	</ul>
</div>