<ul class="list-group list-group-flush bg-transparent">
    <li class="list-group-item bg-transparent text-light border-0">Wordpress</li>
    <li class="list-group-item bg-transparent text-light border-0">Joomla <a href="https://github.com/HasanaghaAzad/arts.joomla" target="_blank" class="position-absolute top-50  start-100 translate-middle badge rounded-pill bg-black">proof</a></li>
    <li class="list-group-item bg-transparent text-light border-0">Drupal</li>
    <li class="list-group-item bg-transparent text-light border-0">Shopify</li>
    <li class="list-group-item bg-transparent text-light border-0">Bitrix</li>
  </ul>