<div class="card border-0 p-0 mb-5">
  <div class="card-body px-0">
    <h6 class="card-subtitle mb-2 text-muted"><small>FlatOur | Feb 2015 - Jan 2017</small></h6>
    <h5 class="card-title">Web Developer</h5>
    <p class="card-text">FlatOur was a platform for tourists interested in rent services within Azerbaijan.<br></p>
    <p class="card-text"><b>Main responsibilities:</b></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Develop and maintain core back-end features to ensure smooth platform functionality and
      performance.</li>
    <li class="list-group-item">Design and implement new platform features to enhance user experience and meet business
      needs.</li>
    <li class="list-group-item">Optimize technical SEO to increase search engine visibility and improve site
      performance.</li>
    <li class="list-group-item">Design and implement scalable and efficient database architectures to support platform
      growth.</li>
    <li class="list-group-item">Take a proactive role in solutions development, continuously driving improvements in
      processes and performance.</li>
    <li class="list-group-item">Troubleshoot and resolve platform-related issues, ensuring minimal disruption and
      maintaining system reliability.</li>
    <li class="list-group-item">Manage the full development lifecycle of platform features, including technical design,
      task estimation, implementation, debugging, and the creation of detailed technical documentation.</li>
  </ul>
</div>