<div class="card border-0 p-0 mb-5">
	<div class="card-body px-0">
		<h6 class="card-subtitle mb-2 text-muted"><small>Owbike | Jan 2017 - July 2022</small></h6>
		<h5 class="card-title">Senior backend web developer</h5>
		<p class="card-text">Owbike is a website building platform with smart and accessible interface and functionality
			aimed to help nontechnical users to create and manage professional websites.<br>

		</p>
		<p class="card-text"><b>Main responsibilities:</b></p>
	</div>
	<ul class="list-group list-group-flush">
		<li class="list-group-item">Back-end development to meet the diverse business needs of multiple customers,
			implementing components in modern software environments, including cloud-based platforms and microservice
			architecture.</li>
		<li class="list-group-item">Leadership in building new functionalities for the platform, including e-Commerce
			solutions and other complex key features, while actively participating in architecture design and code reviews.
		</li>
		<li class="list-group-item">Development and review of feature design documents, providing inputs and updates to
			specifications for solutions.</li>
		<li class="list-group-item">Design and implementation of a scalable back-end for a PHP-based platform supporting
			over 700 websites, utilizing Nginx and Apache.</li>
		<li class="list-group-item">Building and maintenance of GCP instances, ensuring optimal performance, and
			implementing monitoring solutions with Prometheus and Grafana to enhance system observability and reduce costs.
		</li>
		<li class="list-group-item">Setup of CI/CD pipelines to automate updates and streamline deployment processes,
			improving platform efficiency and reducing manual intervention.</li>
		<li class="list-group-item">Developed front-end features using vanilla JavaScript to enhance user experience across
			the platform.</li>
	</ul>
</div>