<style>
    a:hover {
        color: #052f6d !important;
        font-weight: normal;
        transition: 0.4s;
    }

    i.bi.bi-upwork {
        background-image: url(/assets/upwork.svg);
        height: 21px;
        width: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        filter: contrast(0) brightness(2.5);
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: normal !important;
        font-variant: normal;
        text-transform: none;
        margin-left: 0px;
        line-height: 1;
        margin-right: 3px;
        filter: #fff;
        vertical-align: -0.125em;
        float: left;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    i.bi.bi-circle-fill,
    i.bi.bi-circle {
        font-size: 0.4rem;
        margin-right: 0.2rem;
        vertical-align: 0.2rem;
    }
</style>