@media print {
    html,
    body {
        width: 100% !important;
        position: static;
        min-height: 100%;
        float: left;
        display: flex;
        width: 100%;
        print-color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;

    }

    .bg-body {
        margin-bottom: 0px !important;
        min-height: 100% !important;
    }

    .mt-lg-5 {
        margin-top: 3rem !important;
    }

    .col-xl-12.col-md-6.col-lg-4:nth-child(4) li:nth-child(7) {
        margin-top: 6rem;
    }

    .col-xl-8.col-md-12.p-5 .card.border-0.p-0.mb-5.mt-4 {
        width: 90%;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

    span.badge.bg-dark.w-100.p-0.border-dark.mb-5.opacity-75 {
        background: none !important;
        border-color: transparent;
        padding: 10vh;
        display: none;
        margin-top: 2.5rem;
    }

    body {
        padding: 0;
        margin: 0 !important;
        font-size: 14px !important;
    }

    .print-as-pages {
        page-break-before: always;
        padding-top: 2rem;
    }

    list-group-item.print-as-pages {
        padding-top: 4rem;
    }

    .print-after {
        page-break-after: always;
    }


    .container {
        margin: 0 !important;
        box-shadow: none !important;
        width: 100%;
        display: block !important;
        padding: 0;
        position: relative;
        max-width: 100%;
    }

    aside {
        flex: 0 0 auto;
        width: 35% !important;
    }

    aside .list-group-flush>.list-group-item {
        padding-left: 0;
    }

    section.p-5 {
        flex: 0 0 auto;
        width: 65% !important;
        border-color: transparent;
        padding-left: 2.5rem !important;
        padding-right: 3.5rem !important;
    }

    .container>.row {
        display: flex;
    }

    .row.d-print-flex {
        display: flex;
    }

    .prnt-px-4 {
        padding-left: 2rem !important;
        padding-right: 1.85rem !important;
    }

    .prnt-mb-1 {
        margin-bottom: .25rem !important;
    }

    .fullname {
        font-size: calc(1.525rem + 2.2vw);
        letter-spacing: 0.065em !important;
    }

    .hi-part {
        margin-left: 2px !important;
        font-size: 12px !important;
        line-height: 13px !important;
        margin-bottom: -6px !important;
    }
}